* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

header {
  background-color: #bdb8b8;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  height: 100px;
}

header h2 {
  color: #6b6bb9;
  border: 10px solid #ffffff;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 10px;
}

.page h3 {
  background-color: #1a1818;
  color: white;
  position: absolute;
  left: 20px;
  top: 127%;
  padding: 20px;
}

.page h3 span {
  color: #6b6bb9;
  text-align: center;
  font-size: 1.5em;
}

.history p img {
  text-align: center;
}

nav{
  background-color: yellow;
  width: 100%;
  display: inline-block;
  font-size: 24px;
  padding: 20px 5px;
  position: sticky;
  top: 90px;
  z-index: 3;
}

nav ul {
  white-space: nowrap;
  max-width: 1100px;
  margin: 0 auto;
}

nav ul a{
  position: relative;
  bottom: 14px;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
  border-radius: 30px;
  position: relative;
  bottom: 40px;
}

nav li a {
  text-decoration: none;
  color: black;
  top: 40px;
  position: relative;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
}

nav li a.join_2 {
  color: #ff0000;
}

.image{
  text-align: center;
  margin: 80px 0;
  max-width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

.image li{
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
}

.image li img{
  max-width: 100%;
}

main{
  margin: 80px auto;
  padding: 0 40px;
  max-width: 100%;
  box-sizing: border-box;
}

article h3{
  color: red;
  font-size: 40px;
}

article p{
  line-height: 2em;
}

.hero{
  text-align: center;
  margin: 80px 0;
  max-width: 100%;
  box-sizing: border-box;
}

.hero_image img{
  margin-top: 90px;
  max-width: 100%;

}

.join{
  background: #a8999c;
  text-align: center;
  padding: 60px 20px;
  color: grey;
}

.join h2{
  font-size: 36px;
}

form input{
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
border: 4px solid white;
}

footer{
  background: red;
  color: white;
  padding: 10px;
  text-align: center;
}